
body, #root {
    background-color: #000000;
}

.animated-gradient-text-container {
    --gradient-start: #ec4899;
    --gradient-end: #8b5cf6;
}

.animated-gradient-text {
    background: linear-gradient(90deg, var(--gradient-start), var(--gradient-end));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 200%;
    animation: gradient-move 3s ease infinite;
}

.animated-gradient-bg {
    background: linear-gradient(90deg, var(--gradient-start), var(--gradient-end));
    background-size: 200% 200%;
    animation: gradient-move 3s ease infinite;
}

@keyframes gradient-move {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
